body {
    background-color: #fafafa;
    margin: 0px;
}
.MENU {
        display: flex ; 
        flex-direction: row;
        align-items: center;
        background-color: #003366;
        height: 50px;
        justify-content: space-around;
    }
.item-menu  a{
    font-size: large;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.titulo {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
.parrafo {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
.tablero2 {
    display: grid ; 
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fafafa;
}
.celda {
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.celda img {
 width: 100%;
 height: auto;
 object-fit: cover;
 margin-bottom: 10px;
}
.banner {
width: 100%;
height: auto;
}

header .banner img{
    width: 100%;
    height: auto;
}
.Redes {
    padding: 20px 20px 20px;
    margin: 0px 100px 0px 100px;
    text-align: center;
}
footer{
    text-align: center;
}
.main-nota{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 960px;
    margin: 20px auto 20px auto;
    padding: 25px;
    background-color: #ebe9e9f1;
    box-shadow: 0 8px 10px black;
    border-radius: 8px;

}

.contenido-nota{
    grid-column: 1/-1; 
    padding-right: 0;
}


@media (min-width: 800px) {
    .main-nota {
        grid-template-columns: 3fr 1fr;
        gap: 40px;
    }
    .contenido-nota {
        grid-column: auto;
        padding-right: 0;
    }

}

.titulo-nota {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: #003366;
    margin-bottom: 10px;
    line-height: 1.2;
}

.autor-nota {
    text-align: left;
    color: rgb(56, 90, 117);
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
}

.imagen-nota-principal {
    width: 100%;
    height: auto;
    display: block;
    margin: 25px 0;
    border-radius: 5px;
    box-shadow: 0 2px 8px black;

}
.parrafo-nota {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 1em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif
}
.sidebar-nota {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);

}
.sidebar-nota h3 {
    margin-top: 0;
    color: #003366;
    border-bottom: 1px solid #003366;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.sidebar-nota ul {
    list-style: none;
    padding: 0;
}
.sidebar-nota ul li {
    margin-bottom: 10px;
}
.sidebar-nota ul li a {
    text-decoration: none;
    font-size: 0.95em;
    color: #000;
}
.sidebar-nota ul li a:hover {
    color: #1c6fc2;
    text-decoration: underline;
}
.img-publi{
    width: 100%;
    height: auto;
    display: block;
}
.irgaleria {
    color: #007bff;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 5px 5px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

