@media (max-width: 600px) {
    #NavBar a {
        margin: 0 1rem 2rem 1rem;
        font-size: 0.9em;
    }
    .tablero {
        gap: 1em;
        padding: 0.5em;
    }
    .celda {
        padding: 1em;
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    color: #222222;
    font-family: 'Verdana', sans-serif;
}

header {
    /*max-height: 9em; */
    line-height: 0px;
    width: 100%;
    height: auto;

}

main {
    margin: 0px;
    padding: 0px;
    
}

section {
    margin: 0px;
    padding: 0px;
    
}

a {
    text-decoration: none;
    color: black;
}

footer { 
    bottom: 0px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0em 0em 0em 0em;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.50m;
    font-weight: 700;
     color: #ffffff;

    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #002244;
    padding: 1em;
}


footer {

}
#CEAESBANNER {
    opacity: 1;
    width: 100%;
    height: auto;
    /*position: absolute;
    bottom: 0px;
    /* border-radius: 1em; */
    /* box-shadow: 0.5em 0.5em 0em rgba(0, 0, 0, 0.315); */
}

#CEAESBANNER_IMG a {
    padding: 2em 0.5em 0.3em 0.5em;background-color: white;border-radius: 100px;
        
}

#NavBar {
      background-color: #003366;
     height: 3em;
     margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 3em;
}

#NavBar a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    align-self: center;
   /* margin: 0 3rem 6rem 3rem;*/
    margin: 0 2rem;
    transition: color 0.3s, border-bottom 0.3s;
}
#NavBar a:hover {
  color: #ffd700; /* dorado */
  border-bottom: 2px solid #ffd700;
}

.tablero {
    background-color: white;
    display: grid;
    /*grid-template-columns: 300px 300px 300px;*/
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    margin: 1em 1em 1em 1em;
    padding: 1em;
    
    /*align-items: center; */
    justify-content: center;
    /*justify-items: center; */
}

.celda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding: 2em;
    border-radius: 0.5em;

    border: 1px solid #ccc;
    box-shadow: 0.2em 0.2em 0.2em rgb(0, 0, 0, 0.3);
}
.celda img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.celda:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
/*
#CeldaEspecial1 {

    background-color: aqua;
}
#CeldaEspecial2 {

    background-color: aqua;
}
#CeldaEspecial3 {
    
    background-color: aqua;
}
#CeldaEspecial4 {

    background-color: rgb(255, 255, 255);
}
#CeldaEspecial5 {
    background-color: yellow;
}
#CeldaEspecial6 {
    padding: 30px;
    background-color:rgb(255, 255, 255);  
}
#CeldaEspecial7 {
    padding: 30px;
    background-color:aqua;  
}
#CeldaEspecial8 {
    padding: 30px;
    background-color:aqua;  
}
#CeldaEspecial9 {
    padding: 30px;
    background-color:aqua;  

}
*/
#CEAESFOOTER_IMG {
    display: flex;
    flex-direction: row;
}

/* ESTOS ESTILOS SON PARA LAS NOTAS */

.main-nota {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 960px;
    margin: 20px auto 20px auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.contenido-nota {
    grid-column: 1 / -1;
    padding-right: 0;
}

.titulo-nota {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: left;
}

.autor-nota {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0,9%;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    font-style: italic;
}

.imagen-nota-principal {
    width: 100%;
    height: auto;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.parrafo-nota {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 1em;
    text-align: justify;
}

.sidebar-nota {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.05);

}

.sidebar-nota h3 {
    margin-top: 0;
    color: #007bff;
    border-bottom: 1px solid #4f6a9b;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.sidebar-nota ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nota ul li a {
    color: #333;
    font-size: 0.5em;
    text-decoration: none;
}

.sidebar-nota ul li a:hover {
    color: #007bff;
    text-decoration: underline;

}







