.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de los retratos*/
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.galeria img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0.2);
    transition: transform 0.3s;

}

.galeria img:hover {
    transform: scale(1.05);
}

