.galeria {	
    display: grid;	
    grid-template-columns:	1fr	1fr;	
    gap: 15px;
    max-width: 600px;
    margin: 0 auto; 
    justify-content: center; 

}

.galeria img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px  ;
    transition: transforms 0.3s;
}

.galeria img:hover{
transform: scale(1.05)

}

footer{
margin-top: 10px;
}